APP_NAME=POC FastAPI Backend
APP_ENV=development
PORT=8000

# MONGODB_URI=mongodb+srv://naveenreddyagivant_db_user:yV98OqyzC8QxmYcW@poc-cluster1.urn3zga.mongodb.net/
MONGODB_URI = mongodb+srv://Vercel-Admin-atlas-poc-naveen:yashisgreat@atlas-poc-naveen.zlh8xmx.mongodb.net/?appName=atlas-poc-naveen
MONGODB_DB_NAME=poc_showcase

CLIENT_URL=http://localhost:5173

JWT_ACCESS_SECRET=replace_with_a_secure_access_secret
JWT_REFRESH_SECRET=replace_with_a_secure_refresh_secret
JWT_ACCESS_EXPIRY_MINUTES=15
JWT_REFRESH_EXPIRY_DAYS=7
